%reset {
    padding: 0;
    margin: 0;
    display: block;
    font-size: 100%;
    color: currentColor;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: 0;
    vertical-align: baseline;
    border-collapse: collapse;
    border-spacing: 0;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
    word-wrap: break-word;
}


%grid{
    display: table;
    table-layout: fixed;
    width: 100%;
}

%part{
    display: table-cell;
    vertical-align: middle;
}




$container: 100%;
$gutter: 10px;



//====== base style ======
*,
*:after,
*:before {
    box-sizing: border-box;
    word-wrap: break-word;
}

body,
html {
    height: 100%;
    font-size: 100%;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #000;
}

body{
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    line-height: 1;
}

.container {
    width: 100%;
    display: block;
    max-width: $container;
    margin: 0 auto;
    padding: 0 $gutter;
    position: relative;
}

::selection {
    color: #fff;
    background-color: #5EC2B7;
}



.container{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}



.logo{
    text-align: center;
    margin-bottom: 40px;
    img{
        display: inline-block;
    }
}


.title{
    @extend %reset;
}


.ico{
    display: inline-block;
    vertical-align: middle;
}

.i-close{
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: inherit;
    &:before,&:after{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 4px;
        border-radius: 2px;
        background-color: currentColor;
        transform-origin: top left;
        top: 50%;
        left: 50%;
        transform: rotate(45deg) translate(-50%,-50%);
        
    }
    &:after{
        transform: rotate(-45deg) translate(-50%,-50%);
    }
}

.i-search{
    width: 14px;
    height: 14px;
    color: #9f9f9f;
    border: 3px solid;
    border-radius: 50%;
    position: relative;
    &:before{
        content: '';
        display: block;
        position: absolute;
        width: 3px;
        height: 7px;
        background-color: currentColor;
        bottom: 0;
        right: 0;
        margin-bottom: -6px;
        margin-right: -4px;
        transform: rotate(-45deg);
    }
}

.f-filter{
    display: inline-block;
    max-width: 620px;
    width: 100%;
    text-align: left;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    &__top{
        color: #fff;
        background-color: #ff8663;
        padding-left: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        position: relative;
        .ico{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
        }
    }

    &__search{
        background-color: #f0f0f0;
    }

    &__content{
        
        .grid{
            border-collapse: collapse;
            height: 0;
            min-height: 350px;
        }

        .part{
            vertical-align: top;
            &:first-of-type{
                border-right: 1px solid #f0f0f0;
                padding-left: 10px;
                padding-right: 20px;
                .i-close{
                    &:before{
                        transform: rotate(0deg) translate(-50%,-50%);
                    }
                    &:after{
                        transform: rotate(90deg) translate(-50%,-50%);
                    }
                }
            }
            &:last-of-type{
                border-left: 1px solid #f0f0f0;
                padding-right: 10px;
                padding-left: 20px;
            }
        }

        .title{
            font-size: 12px;
            padding-top: 3px;
            padding-bottom: 5px;
            border-bottom: 1px solid #f0f0f0;
        }
    }

    &__bottom{
        padding: 8px;
        background-color: #f0f0f0;
        text-align: right;
    }
}





.grid{
    @extend %grid;
    .part{
        padding: 10px 12px;
    }
}

.part{
    @extend %part;
}


.field{
    @extend %reset;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    .ico{
        position: absolute;
        top: 50%;
        margin-top: -3px;
        left: 8px;
        transform: translateY(-50%);
    }
    &__input{
        @extend %reset;
        background-color: transparent;
        width: 100%;
        padding: 6px 15px;
        position: relative;
        z-index: 2;
        &::placeholder{
            color: #bbb;
        }
    }

    &--ico{
        .field__input{
            padding-left: 35px;
        }
    }
}









//=========== Общие настройки =============//
$button--font-size: 12px;                                                // Размер шрифта
$button--fw: 400;                                                                // Плотность шрифта
$button--border-radius: 10px;                                        // Скругление углов
$button--color: #fff;                                                        // Цвет текста
$button--bg: #ff8663;                                                                // Основной цвет
$button--gradient: none;                                                // градиент
$button--padding: 7px 3px;                                            // padding
$button--shadow: none;                                                    // Тень
$button--text-style:    none;                                            // Начертание теста
$button--border:    none;                                                    // Border
$button--text-shadow: none;                                            // Тень текста
$button--transition : all .2s;                                    // transition
//=========== Общие настройки =============//


.list{
    @extend %reset;
    &__item{
        @extend %reset;
        border-bottom: 1px solid #f0f0f0;
    }
}


.avatar{
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    &__inner{
        background-color: red;
        width: 46px;
        height: 46px;
    }
}


.user{
    padding: 8px 6px;
    color: #4f4f4f;
    position: relative;
    padding-right: 50px;
    .avatar{
        vertical-align: middle;
        margin-right: 5px;
    }
    &__name{
        @extend %reset;
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
        font-weight: 500;
    }
    .ico{
        position: absolute;
        color: #c4c4c4;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}


.button{
    width: 100%;
    max-width: 90px;
    display: inline-block;
    font-size: $button--font-size;
    color: $button--color;
    background: $button--bg;
    @if($button--gradient != none){
        background: $button--gradient;
    }
    @if($button--border != none){
        border: $button--border;
    }
    border-radius: $button--border-radius;
    font-weight: $button--fw;
    @if($button--text-shadow != none){
        text-shadow: $button--text-shadow;
    }
    @if($button--transition != none){
        transition: $button--transition;
    }
    @if($button--shadow != none){
        box-shadow: $button--shadow;
    }
    clear: both;
    position: relative;
    text-transform: $button--text-style;
    &:hover{
        background-color: darken(#ff8663,10%);
    }
    &:active{
        background-color: darken(#ff8663,20%);
    }
    &__text{
        width: 100%;
        display: block;
        text-align: center;
        text-decoration: none;
        padding: $button--padding;
        font-size: inherit;
        color: inherit;
        background: none;
        border: none;
        border-radius: inherit;
        font-weight: inherit;
        text-shadow: inherit;
        font-family: inherit;
        outline: none;
        position: relative;
        cursor: pointer;
        text-transform: inherit;
    }
}
